@import 'tailwindcss';

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background: #9ce4ff;
	background-position: fixed;
	padding: 0;
	background: linear-gradient(27deg, rgba(156, 228, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

/* .gradient-text {
	background: linear-gradient(90deg, rgb(83, 209, 255) 0%, rgb(178, 234, 255) 50%, rgb(215, 245, 255) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.welcome-btn {
	@apply px-4 py-2  bg-[#9ce4ff] text-white font-semibold rounded-lg shadow-md 
           hover:bg-[#83bfd5] focus:outline-none focus:ring-2 focus:ring-blue-400/75 
           text-[1rem] md:text-[1.2rem] lg:text-[1.4rem] transition duration-300;
}

.card-box {
	perspective: 1000px;
}

.learning-card {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s ease;
	cursor: pointer;
	@apply border-4 border-[#FFF] rounded-xl shadow-lg;
}

.learning-card.flipped {
	transform: rotateY(180deg);
}

.question-card,
.answer-card {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
}

.question-card {
	background-color: #caf1ff;
}

.answer-card {
	background-color: #ffffff;
	transform: rotateY(180deg);
}
